{% extends "admin/dashboard.html" %}
{% load static %}

{% block title %}
    <title>Admin | Event Create</title>
{% endblock title %}

{% block content %}
<div class="page-content">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <form id="event-form" action="{% url 'event_create' %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    
                    <!-- Cover Image Upload -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Event Image</h4>
                            <div id="file-previews" style="display: flex; flex-wrap: wrap; margin-top: 10px;"></div>
                            <input class="form-control mt-3" name="event_image" type="file" accept="image/*" id="eventImageUpload" required>
                            <small class="text-danger invalid-feedback">Please upload a valid image.</small>
                        </div>
                    </div>
                    
                    <!-- General Information -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Event Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- Event Title -->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">Event Title</label>
                                        <input type="text" name="title" id="title" class="form-control" placeholder="Enter Event Title" required>
                                        <small class="text-danger invalid-feedback">Please enter a valid event title.</small>
                                    </div>
                                </div>

                                <!-- Venue -->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="venue" class="form-label">Venue</label>
                                        <input type="text" name="venue" id="venue" class="form-control" placeholder="Enter Venue" required>
                                        <small class="text-danger invalid-feedback">Please enter the event venue.</small>
                                    </div>
                                </div>

                                <!-- Venue Date Time -->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="event_datetime" class="form-label">Event Date and Time</label>
                                        <input type="datetime-local" name="event_datetime" id="event_datetime" class="form-control" required>
                                        <small class="text-danger invalid-feedback">Please enter the event date and time.</small>
                                    </div>
                                </div>

                                <!-- Event Status -->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="status" class="form-label">Status</label>
                                        <select name="status" class="form-control" id="status" required>
                                            <option selected value="">Select Status</option>
                                            <option value="1">Published</option>
                                            <option value="0">Unpublished</option>
                                        </select>
                                        <small class="text-danger invalid-feedback">Please select a status for the blog.</small>
                                    </div>
                                </div> 

                                <!-- Event Address -->
                                <div class="col-lg-12 mb-3 ">
                                    <label for="address" class="form-label">Event Address</label>
                                    <textarea name="address" id="address" class="form-control" rows="2"></textarea>
                                </div>
                                <!-- Blog Description -->
                                <div class="col-lg-12">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea name="description" id="description" class="form-control" style="display:none;">{{ blog.description }}</textarea>
                                    <div id="editor"></div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- Action Buttons -->
                    <div class="p-3 bg-light mb-3 rounded">
                        <div class="row justify-content-end g-2">
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary w-100">Create</button>
                            </div>
                            <div class="col-lg-2">
                                <a href="{% url 'event_list' %}" class="btn btn-outline-secondary w-100">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block footer %}
        <!-- ========== Footer Start ========== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <script>document.write(new Date().getFullYear())</script> &copy; ISKCON. Developed by <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon> <a href="https://geegatechnologies.com/" class="fw-bold footer-text" target="_blank">GeegaTechnologies</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
</div>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', '|', 'blockQuote']
        })
        .then(editor => {
            // Set the initial content of the editor
            editor.setData(document.querySelector('#description').value);
            
            // Update the hidden input value when the content changes
            editor.model.document.on('change:data', () => {
                document.querySelector('#description').value = editor.getData();
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>
{% endblock %}
