{% extends "admin/dashboard.html" %}
{% load static %}

{% block title %}
    <title>Admin | Notification Create</title>
{% endblock title %}

{% block content %}
<div class="page-content">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <form id="notification-form" action="{% url 'notification_create' %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    
                    <!-- Notification Image Upload -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Notification Image</h4>
                            <div id="file-previews" style="display: flex; flex-wrap: wrap; margin-top: 10px;"></div>
                            <input class="form-control mt-3" name="notification_image" type="file" accept="image/*" id="notificationImageUpload">
                        </div>
                    </div>

                    <!-- Notification Title -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Notification Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">Notification Title</label>
                                        <input type="text" name="title" id="title" class="form-control" placeholder="Enter Notification Title" required>
                                        <small class="text-danger invalid-feedback">Please enter a valid notification title.</small>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="target_audience" class="form-label">Target Audience</label>
                                        <select name="target_audience" class="form-control" id="target_audience" required>
                                            <option selected value="">Select Target Audience</option>
                                            <option value="all">All Users</option>
                                            <option value="admin">Admins</option>
                                            <option value="customer">Customers</option>
                                        </select>
                                        <small class="text-danger invalid-feedback">Please select a Target Audience</small>
                                    </div>
                                </div>

                            </div>


                            <!-- Notification Message -->
                            <div class="col-lg-12">
                                <label for="message" class="form-label">Notification Message</label>
                                <textarea name="message" id="message" class="form-control" placeholder="Enter Notification Message"></textarea>
                            </div>

                            <div class="col-lg-12">
                                <div class="mb-3 mt-3">
                                    <div class="form-check">
                                        <input type="checkbox" name="is_active" id="is_active" class="form-check-input" {% if about_us.is_active %}checked{% endif %}>
                                        <label class="form-check-label" for="is_active">Is Active</label>
                                        <small class="text-danger invalid-feedback">Please confirm the active status.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="p-3 bg-light mb-3 rounded">
                        <div class="row justify-content-end g-2">
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary w-100">Create</button>
                            </div>
                            <div class="col-lg-2">
                                <a href="{% url 'notifications' %}" class="btn btn-outline-secondary w-100">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block footer %}
        <!-- ========== Footer Start ========== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <script>document.write(new Date().getFullYear())</script> &copy; ISKCON. Developed by <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon> <a href="https://geegatechnologies.com/" class="fw-bold footer-text" target="_blank">GeegaTechnologies</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
</div>

<script>
    // Image Preview on File Input Change
    const notificationImageUpload = document.getElementById('notificationImageUpload');
    const filePreviews = document.getElementById('file-previews');

    notificationImageUpload.addEventListener('change', function (event) {
        filePreviews.innerHTML = ''; // Clear any previous previews

        const files = event.target.files;
        if (files.length > 0) {
            const file = files[0];

            // Create an image element to display the preview
            const img = document.createElement('img');
            img.src = URL.createObjectURL(file);
            img.classList.add('img-thumbnail');
            img.style.maxWidth = '200px';
            img.style.marginTop = '10px';
            filePreviews.appendChild(img);
        }
    });

    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', '|', 'blockQuote']
        })
        .then(editor => {
            // Set the initial content of the editor
            editor.setData(document.querySelector('#description').value);
            
            // Update the hidden input value when the content changes
            editor.model.document.on('change:data', () => {
                document.querySelector('#description').value = editor.getData();
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>
{% endblock %}
